{% extends "layout.html" %}

{% block title %}Project Name{% endblock %}

{% block styles %}
  <script src="https://use.fontawesome.com/3f963aa5a8.js"></script>
  <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="app">
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
